:root{
    --red:#C71010;
    --white:#f3f8fe;
    --lightBlue:#457B9D;
    --darkBlue:#1D3557;
    --grey:#554F4A;
}

body{
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--grey);
}

a{
    text-decoration: none;
}

/* HEADER */

.navbar-custom{
    background-color: var(--darkBlue);
}
nav img{
    width:1.5em;
}

.menu-bar{
    display: flex;
    justify-content: flex-end;
    background-color: var(--darkBlue);
}

.menu-bar button{
    border: none;
    background-color: var(--darkBlue);
}

.menu-bar button img{ 
    background-color: var(--darkBlue);
    width:50px;
    height: 50px;
}

.menu-bar button img:hover{ 
    background-color: var(--lightBlue);
    width:50px;
    height: 50px;
}

.logo-field{
    display: flex;
    justify-content: flex-start;
    background-color: var(--lightBlue);
}

.logo-field a {
    margin-left: 0.5em;
}

.logo-field p {
    margin-top: 2em;
    margin-left: 4.5em;
    text-indent: -4em;
    font-size: largee;
    color: var(--white);
}

/* ERSTE HILFE ADD */

.big-blue-block{
    display:flex;
    flex-direction: column;
    background-color: var(--darkBlue);
    text-align: center;
    padding: 1.5em 2em 4em 2em;
    color: var(--white);
}
.big-blue-block p{
    margin:0 2em 3.5em 2em;
}
.big-blue-block a{
    background-color: var(--red);
    font-weight: bold;
    padding: 1em 1.5em;
    border-radius: 2em;
}

/* FOOTER */

 footer{
     background-color: var(--lightBlue);
 }

.footer-logo{
    display: flex;
    justify-content: center;
}

.copyright{
    text-align: center;
    color: var(--darkBlue);
}

.nav-links ul{
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.nav-links ul li{
    display:block;
    text-align: center;
    padding: 1em;
    width: 10em;
}

.social-media ul{
    padding-inline-start: 0;
    display:flex;
    justify-content: space-evenly;
}

.social-media ul li{
    display: block;
    margin: 0.5em 1em 0.5em 1em;
}

.social-media img{
    width: 30px;
}

/* BUTTONS */

.BUTTON_NEXT_BACK {
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    color: #1D3557;
    font-family: Tahoma;
    font-size: 40px;
    font-weight: 100;
    padding: 25px;
    background-color: #C71010;
    border: outset #337FED 6px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_NOTRUF {
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 20px;
     color: #F3F8FE;
     font-family: Tahoma;
     font-size: 40px;
     font-weight: 100;
     padding: 55px;
     background-color: #C71010;
     text-shadow: 1px 1px 20px #000000;
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     text-align: center;
  }
 
 .BUTTON_FEEDBACK {
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px; 
     border-radius: 20px;
     color: #F3F8FE;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 58px;
     font-weight: 400;
     padding: 40px;
     background-color: var(--darkBlue);
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     text-align: center; 
  }
 