:root{
    --red:#C71010;
    --white:#f3f8fe;
    --lightBlue:#457B9D;
    --lightBlueHover: #4f8bb1;
    --darkBlue:#1D3557;
    --grey:#554F4A;
}

/*Question/Answers*/

#quiz-block{
    margin-bottom:2em;
}

.question{
    display: none;
}

.active{
    display: block;
}

.fragen-counter{
    color: var(--red);
}

.answers{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.answer{
    display: block;
    width: 50%;
    padding: 2.5em;
    border-radius: 20px;
    color: var(--white);
    margin-top: 1.5em;
}

.unselected{
    background-color: var(--darkBlue);
}

.selected{
    background-color: var(--lightBlue);
}

#result-block{
    display: none;
}

.header h2{
    color: var(--red);
}
.result p {
    color: var(--white);
    margin: 1em;
}
#result-block p a {
    text-decoration: none;
    color: var(--red);
}
#result-block .pathend a {
    text-decoration: none;
    color: var(--white);
}
footer{
    margin-top:5em;
}
.result{
    display: none;
}

@media (min-width:574px){
    
 }
 @media(min-width:827px){
     
 }
 
 @media (max-width: 992px){
     
     
   }